# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Simon\Documents\mipt\informatics\Advanced_C++_4_sem\Advanced_Cpp_course_4_sem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
